@import "../common/var";

/* 设计一套按钮
-------------------------- */
/* 表单提交按钮距离顶部48，加上item的mb18，如果没有item就加mt48 */
.lh-btn-mini {
  margin-top: 30px;
}
.lh-btn-mini, .lh-btn-default {
  min-width: 80px;
  letter-spacing: 4px; /* 4px 相当于一个空格 */
  text-indent: 2px;
}

/* 渐变按钮
-------------------------- */
.to-bottom-right {
  display: inline-block;
  color: #fff;
  /* 英文比中文上下少两个像素，高度少4个像素，这种情况设置高度和行高兼容 */
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  box-sizing: border-box;
  @include to-bottom-right;

  /* 英文 */
  &.pv7 {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

/* reset ele
 * 全局设置主题按钮
-------------------------- */
/* 按钮最小宽度80，正常高度32，特殊高度需要设置 */
.el-button {
  // height: 32px;
  // padding: 8px 15px;
  // min-width: 80px;

  &.el-button--mini {
    padding: 7px 15px;
  }
}

.el-button--primary {
  border: none;
  @include to-bottom-right;
}
/* popover_button */
.popover-button {
  padding: 0;
  border: none;

  &:hover, &:focus {
    background-color: transparent;
  }
}

/* 按钮链接
-------------------------- */
.btn-link {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $theme-blue;
  //border: 1px solid $theme-blue;
  color: #ffffff;
  // margin: 0;
  font-size: 14px;
  padding: 9px 15px;
  border-radius: $radius-small;

  & + .btn-link {
    margin-left: 10px;
  }
  &:hover {
    background: rgb(126, 153, 234);
    border-color: rgb(126, 153, 234);
    color: #fff;
  }
}
.btn-green, .btn-link.btn-green {
  background-color: $theme-green;
  border-color: $theme-green;
  color: #ffffff;

  &:hover, &:focus {
    background-color: lighten($theme-green, 8%);
    border-color: lighten($theme-green, 8%);
    color: #ffffff;
  }
}
/* 公共新增、编辑按钮，居中显示
-------------------------- */
.button-row {
  margin-left: -100px;
  margin-bottom: 0;
  margin-top: 30px; // 有item的情况下，以后遇到就要改成48的
  text-align: center;

  button {
    min-width: 80px;
  }
  p {
    margin-top: 10px;
  }
}
