@import "../common/var";

/* 因为hover展示的列表是动态DOM，写在页面内无效
-------------------------- */
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  color: $theme-black;
}

.el-menu--horizontal .el-menu-item:hover,
.el-menu--horizontal .el-menu-item:hover,
.el-menu--horizontal .el-menu-item:focus,
.components-sidebar-wrapper .el-menu-item:hover,
.components-sidebar-wrapper .el-menu-item:focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.notice-item):hover,
.el-menu--horizontal .el-menu-item:not(.notice-item):focus {
  color: $theme-blue;
  background-color: transparent;// $theme-sidebar !important;

  .el-menu-item, a, .a-link {
    color: $theme-blue;
  }
}
.el-dropdown, .hamburger-container {
  outline: none;
}
.el-dropdown {
  cursor: pointer;
}
.el-menu--popup {
  min-width: 122px;
}
.el-menu--horizontal {
  .el-menu {
    .el-menu-item {
      padding: 0;
    }
    .a-link {
      display: block;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
}

/**
 * sidebar
 * --------------------------
 */
.el-submenu__title {
  height: 50px;
  line-height: 50px;
}
.el-submenu .el-menu-item {
  height: 45px;
  line-height: 45px;
}
