.lh-quill {
  #lh-toolbar {
    border: 1px solid #F1F1F5 !important;
    padding: 8px;
  }

  .ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    color: #5A72F6 !important;
  }

  .ql-editor {
    white-space: initial;
  }
  .ql-toolbar.ql-snow {
    .ql-formats {
      line-height: 24px;
    }
    .ql-btn {
      display: inline-block;
      background: none;
      border: none;
      cursor: pointer;
      float: left;
      height: 24px;
      padding: 3px 5px;
      width: 24px;
      outline: none;
    }
    .ql-divider {
      display: flex;
      align-items: center;

      &:hover .ql-hr {
        background-color: #5A72F6;
      }
      .ql-hr {
        display: block;
        width: 100%;
        height: 2px;
        background-color:#979797;
      }
    }
  }

  .ql-container {
    // padding 左右 默认15
    padding: 0 107px 24px;
    min-height: 380px;
    overflow: auto;

    // @#技巧：各屏幕大小，展示不同高度，实现类似fixed的效果
    @media screen and (max-width: 1366px) {
      min-height: 380px;
      max-height: 400px;
    }
    @media screen and (max-width: 1440px) {
      min-height: 380px;
      max-height: 424px;
    }
    @media screen and (min-width: 1441px) {
      min-height: 380px;
      max-height: 603px;
    }
  }
}
