.lh-quill {
  #lh-toolbar {
    border: 1px solid #F1F1F5 !important;
    padding: 8px;
  }
  .ql-toolbar.ql-snow {
    .ql-formats {
      line-height: 24px;
    }
    .ql-btn {
      display: inline-block;
      background: none;
      border: none;
      cursor: pointer;
      float: left;
      height: 24px;
      padding: 3px 5px;
      width: 28px;
      outline: none;
    }
    .ql-divider {
      display: flex;
      align-items: center;

      &:hover .hr {
        background-color: #06c;
      }
      .hr {
        display: block;
        width: 100%;
        height: 2px;
        background-color:#444;
      }
    }
  }
  .ql-container {
    // padding 左右 默认15
    padding: 0 107px 24px;
    min-height: 380px;
    overflow: auto;

    // @#技巧：各屏幕大小，展示不同高度，实现类似fixed的效果
    @media screen and (max-width: 1366px) {
      min-height: 380px;
      max-height: 400px;
    }
    @media screen and (max-width: 1440px) {
      min-height: 380px;
      max-height: 424px;
    }
    @media screen and (min-width: 1441px) {
      min-height: 380px;
      max-height: 603px;
    }
  }
}
