.lh-quill-modules {
  padding: 0 20px 25px;
  box-sizing: border-box;

  /* 新添加
  -------------------------- */
  .hr {
    height: 1px;
    margin-top: 24px;
    background-color: #E1E1E6;
  }
  p {
    margin-top: 26px;
    font-size: 16px;
    color: #333;
    line-height: 28px;
    box-sizing: border-box;
  }
  img {
    display: block;
    width: 100%;
    border-radius: 7px;
    margin: 26px auto 0;
  }

  /*二级标题*/
  @mixin com {
    margin-top: 46px;
    width: 100%;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  .title-brand {
    @include com;
  }
  .title-store {
    @include com;
  }
  .title-field {
    @include com;
  }
  .title-arbitrarily {
    @include com;
  }
  .quill-title {
    .sub-title-order {
      font-size: 18px;
      display: inline-block;
      color: rgba(51,51,51,1);
      line-height: 22px;
    }
    .quill-featured-store-logo {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid #f2f2f2;
      vertical-align: bottom;
      float: left;
      background-color: #fff;
    }
    .quill-featured-store-name {
      margin-left: 4px;
      font-size: 18px;
      line-height: 24px;
      display: block;
      color: rgba(51,51,51,1);
      font-weight: bold;
      float: left;
      margin-top: 2px;
      max-width: 87%;
      .store-num {
        font-size: 12px;
        color: rgba(129,132,144,1);
        margin-top: 5px;
      }
    }
    >.sub-title-description {
      margin-top: 26px;
      font-size: 16px;
      color: #333333;
      font-weight: normal;
    }

    .sub-title-img {
      display: block;
      width: 100%;
      border-radius: 7px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .sub-title-img + .sub-title-img {
      margin-top: 26px;
    }
    .field-wrapper {
      margin-top: 26px;
      margin-bottom: 32px;
      .activities-list {
        /*列表项*/
        .activities-item {
          margin-bottom: 30px;
          position: relative;
          width: 100%;
          .collect {
            width: 20px;
            height: 18px;
            position: absolute;
            top: 15px;
            right: 15px;
            >span {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          /*图片*/
          .item-pic {
            width: 100%;
            height: 180px;
            border-radius: 7px;
            overflow: hidden;
            position: relative;
            img {
              display: block;
              width: 100%;
              min-height: 180px;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              margin: auto;
            }
          }
          /*描述*/
          .item-brief {
            margin-top: 16px;
            /*禁止选中文字*/
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            /*标题*/
            .brief-title {
              line-height: 16px;
              font-size: 16px;
              letter-spacing: 0;
              color: #333333;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              margin-top: 10px;
              font-weight: normal;
            }
            .width78 {
              width: 78%;
            }
            /*地址*/
            .activity-address {
              font-size: 12px;
              letter-spacing: 0;
              color: #818490;
              font-weight: normal;
              /*line-height: 26px;*/
              .distance {
                font-size: 14px;
                display: block;
                max-width: 65%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 16px;
                .field-type {
                  display: inline-block;
                  width: 60px;
                  height: 18px;
                  text-align: center;
                  line-height: 20px;
                  font-size: 12px;
                  color: #fff;
                  border-radius: 3px;
                  vertical-align: bottom;
                }
                .field-city-name {
                  display: inline-block;
                  vertical-align: bottom;
                  line-height: 16px;
                }
                /*会议室*/
                .field-meeting {
                  background-image: linear-gradient(135deg, #C483FF 0%, #8C68FE 100%);
                }
                /*办公室*/
                .field-office {
                  background-image: linear-gradient(135deg, #FFCC00 0%, #FFAE00 100%);
                }
                /*工位*/
                .field-station {
                  background:linear-gradient(136.3deg,rgba(91,241,153,1),rgba(29,216,185,1));
                }
                /*路演厅*/
                .field-roadshow {
                  background-image: linear-gradient(135deg, #FFA46C 0%, #FF4563 100%);
                }
                /*多功能*/
                .field-functional {
                  background-image: linear-gradient(135deg, #70E0FF 0%, #519DFF 100%);
                }
              }
              .price {
                font-size: 14px;
                display: block;
                max-width: 35%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 16px;
                .price-statics {
                  color: #8C68FE;
                }
                .text {
                }
              }
            }
            .book-info {
              position: relative;
              .book-btn {
                width: 70px;
                height: 33px;
                background:rgba(140,104,254,1);
                box-shadow: 0 5px 14px 0 rgba(140,104,254,0.5);
                border-radius: 7px;
                line-height: 33px;
                text-align: center;
                color: #fff;
                font-size: 15px;
                position: absolute;
                right: 0;
                bottom: 2px;
              }
            }
            /*时间*/
            .activity-time {
              line-height: 14px;
              font-weight: normal;
              font-size: 14px;
              width: 100%;
              overflow: hidden;
              white-space: nowrap;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              color: #818490;
              letter-spacing: 0;
              margin-top: 8px;
            }
            .max-width72 {
              max-width: 72%;
            }
          }
        }
        .activities-item:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    .attention {
      margin-top: 12px;
      font-size: 16px;
      color: #333333;
      line-height: 28px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  /* 旧
  -------------------------- */
  .font-weight-normal {
    font-weight: normal !important;
  }
  .font-bold-style {
    font-weight: bold;
  }
  .space-template {
    text-align: justify;
    font-size: 16px;
    color: #333333;
    line-height: 28px;
    .mt66 {
      margin-top: 66px !important;
    }
  }

  /*门店*/
  .quill-store-list {
    margin-top: 26px;
    .quill-store-item {
      margin: 0 auto;
      width: 100%;
      height: 110px;
      background: rgba(255,255,255,1);
      box-shadow: 0 5px 14px 0px rgba(184,176,211,0.6);
      border-radius: 7px;
      padding: 10px 15px 10px 115px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      .quill-store-img-wrapper {
        width: 90px;
        height: 90px;
        position: absolute;
        top: 50%;
        left: 10px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        border-radius: 2px;
        overflow: hidden;
      }
      .quill-store-img {
        display: block;
        width: 100%;
        min-height: 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 2px;
      }
      .quill-store-name {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin-top: 5px;
        font-size: 16px;
        line-height: 26px;
        color: rgba(51,51,51,1);
        font-weight: normal;
      }
      .quill-store-address {
        line-height: 12px;
        font-size: 12px;
        margin-top: 7px;
        color: rgba(129,132,144,1);
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        word-break: break-all;
        font-weight: normal;
      }
      .quill-store-device {
        margin-top: 18px;
        line-height: 20px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
        font-weight: normal;
        .quill-store-fieldNum {
          width: 60%;
          display: inline-block;
          font-size: 12px;
          color: rgba(129,132,144,1);
          .quill-meeting {
            display: inline-block;
            float: left;
            width: 50%;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            vertical-align: middle;
          }
          .quill-station {
            display: inline-block;
            float: right;
            width: 50%;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            vertical-align: middle;
          }
          .quill-meeting-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
          }
        }
        .quill-store-distance {
          width: 40%;
          vertical-align: middle;
          display: block;
          overflow: hidden;
          word-break: break-all;
          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          font-size: 12px;
          color: rgba(129,132,144,1);
          text-align: right;
          float: right;
          line-height: 20px;
          padding-left: 8px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
    }
    .quill-store-item + .quill-store-item {
      margin-top: 18px;
    }
  }
  /*图片*/
  .quill-featured-images {
    display: block;
    width: 89.33%;
    border-radius: 7px;
    margin: 26px auto;
  }
  /*正文*/
  .quill-featured-main-text {
    margin-top: 26px;
    font-size: 16px;
    color: rgba(51,51,51,1);
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .quill-featured-main-text + .quill-featured-main-text {
    margin-top: 14px;
  }
  /*精选内容*/
  .quill-featured-description-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    .featured-description {
      text-align: justify;
      margin-top: 39px;
      font-size: 16px;
      color: rgba(129,132,144,1);
      line-height: 28px;
      padding-bottom: 24px;
      border-bottom: 1px solid #E1E1E6;
      .first-heading {
        font-family: PingFangSC-Medium;
        color: rgba(51,51,51,1);
      }
      .second-heading {
        font-family: PingFangSC-Medium;
        color: #333333;
      }
      .content {
        margin-top: 24px;
      }
      .content + .content {
        margin-top: 0;
      }
    }
  }

  /*滑动场地列表*/
  .quill-scroll-fields {
    overflow-x:scroll;
    white-space:nowrap;
    width: 100%;
    .quill-field-item {
      margin-top: 26px;
      display:inline-block;
      width: 140px;

      .quill-field-img-wrapper {
        width: 140px;
        height: 100px;
        box-shadow: 0 3px 10px 0 rgba(18,0,76,0.3);
        border-radius: 7px;
        overflow: hidden;
        position: relative;
        .quill-field-img {
          border-radius: 7px;
          display: block;
          width: 100%;
          min-height: 100px;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
        }
      }
      .quill-field-name {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin-top: 15px;
        font-size: 16px;
        color: rgba(51,51,51,1);
        text-align: left;
      }
      .quill-field-type {
        margin-top: 5px;
        width: 60px;
        height: 18px;
        border-radius: 3px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: #fff;
      }
      /*工位*/
      .quill-field-type-station {
        background:linear-gradient(136.3deg,rgba(91,241,153,1),rgba(29,216,185,1));
      }
      /*会议室*/
      .quill-field-type-meeting {
        background-image: linear-gradient(135deg, #C483FF 0%, #8C68FE 100%);
      }
      /*办公室*/
      .quill-field-type-office {
        background-image: linear-gradient(135deg, #FFCC00 0%, #FFAE00 100%);
      }
      /*路演厅*/
      .quill-field-type-hallShow {
        background-image: linear-gradient(135deg, #FFA46C 0%, #FF4563 100%);
      }
      /*多功能*/
      .quill-field-type-functional {
        background-image: linear-gradient(135deg, #70E0FF 0%, #519DFF 100%);
      }
      /*价格*/
      .quill-field-price {
        font-size: 12px;
        margin-top: 5px;
        .quill-field-price-num {
          color: #8C68FE;
        }
        .quill-field-price-unit {
          color: #818490;
        }
      }

    }
    .quill-field-item + .quill-field-item {
      margin-left: 15px;
    }
    .quill-field-item:nth-of-type(1) {
      margin-left: 20px;
    }
    .quill-field-item:nth-last-of-type(1) {
      margin-right: 20px;
    }
  }
}