/**
 * 自定义主题
 */

@import "./config";
/* 改变主题色变量 */
$--color-primary: #5E80E5;

.el-table th {
  background-color: #fafafa !important;
}

.el-menu--horizontal .el-menu-item:hover,
.el-menu--horizontal .el-menu-item:hover,
.el-menu--horizontal .el-menu-item:focus,
.components-sidebar-wrapper .el-menu-item:hover,
.components-sidebar-wrapper .el-menu-item:focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.notice-item):hover,
.el-menu--horizontal .el-menu-item:not(.notice-item):focus {
  color: $theme-blue;
  background-color: transparent;// $theme-sidebar !important;

  .el-menu-item, a, .a-link {
    color: $theme-blue;
  }
}

.el-submenu .el-submenu__title,
.el-menu--horizontal {
  border-bottom: 0 !important;
}
.el-menu--horizontal .el-menu-item a {
  display: block;
  width: 100%;
}

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../node_modules/element-ui/packages/theme-chalk/src/index";