// 公用的样式
@import "./common/var";

/* 设计内容太多，需分类 */
@import './public/title';
@import './public/navbar';
@import './public/layout';
@import './public/table';
@import './public/searchbar';  // table以上区域
@import './public/popup';      // 页面模态框
@import './public/tag';        // 自定义标签 tags
@import './public/pagination';
@import './public/button';
@import './public/dialog';
@import './public/svg';
@import './public/switch';
@import './public/form';
@import './public/customized-quill';

/* transition
-------------------------- */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* 链接
-------------------------- */
/* 文本链接 */
.text-link {
  color: $theme-blue;
  cursor: pointer;
}

.lh-process {
  display: inline-block;
  width: 200px;
  height: 12px;
  border-radius: 10px;
  border: 1px solid $border-light-gray;
  box-sizing: border-box;
  overflow: hidden;

  span {
    display: inline-block;
    height: 10px;
    vertical-align: top;
  }
  .blue-step {
    background-color: $theme-blue;
    opacity: 1;
  }
  .light-blue-step {
    opacity: 0.5;
  }
}

/* 未分类
-------------------------- */
.submit-fixed-bottom {
  position: fixed; z-index: $zindex-fix-con;
  left: 0; bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 1px 0 4px rgba(0, 21, 41, 0.08);

  .ml271 {
    margin-left: 270px;
  }
  .ml427 {
    margin-left: 426px;
  }
}
.lh-edit-img {
  color: $theme-grayish;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;

  &.no-border {
    border-bottom: 0;
  }
  .fill-grayish {
    width: 30px;
    height: 30px;
    margin-right: 9px;
  }
}
.el-step__description {
  font-size: 14px;
}
.el-checkbox__inner {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.el-checkbox__inner::after {
  width: 4px;
  height: 8px;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  // background: #FBFBFD;
  border: 1px solid $border-grayish;
}
.el-loading-mask {
  z-index: 999;
}
.el-tabs__nav-wrap::after {
  height: 1px;
}

/**
 * navbar
 * -----------
 */
.navbar {
  .el-dropdown, .hamburger-container {
    outline: none;
  }
  .el-dropdown {
    cursor: pointer;
  }
}

/**
 * search
 * -----------
 */
// 列表的搜索按钮
.page-search {
 float: right;
 margin-bottom: 30px;
}
.search-left {
  .el-form-item {
   float: left !important;
 }
}

/**
 * form
 * -----------
 */
// 查询筛选栏
.sort-form-bar {
  text-align: right;

  .el-form-item__content {
    line-height: 34px;
  }
}
.input-center input {
  text-align: center;
}
.el-select-dropdown__item {
  text-align: center !important;
}
.item-ml0 {
  .el-form-item__content {
    margin-left: 0 !important;
  }
}

/**
 * table
 * -----------
 */
// 排序前3名高亮
.table-sort {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background-color: $theme-blue;
  border-radius: 20px;
}
.table-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  overflow: hidden;

  img {
    width: 50px;
  }
}
// 日历
.el-range-editor.el-input__inner {
  width: 265px;
}
.el-date-editor .el-range__close-icon {
  position: absolute;
  right: 3px;
  top: 2px;
  opacity: 1;
  display: block;
}
.el-table th, .el-table td {
  text-align: center;
}
.table-search-selected {
  width: 193px;
}
.filter-container {
  padding-bottom: 20px;
}
// 表格里面的链接样式
.table-link {
  cursor: pointer;
  vertical-align: middle;
  color: $theme-blue;
  &.theme-gray {
    color: $theme-gray;
  }
}
// 分页
.pagination-container {
  text-align: center;
  margin: 30px auto 0;
}
// table 表格内的时间格式化
.format-time {
  display: inline-block;
  width: 84px;
  height: 24px;
  overflow: hidden;
}
// 模态框样式
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
// .slide-fade-leave-active for below version 2.1.8
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
.set-table-dialog {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .content {
    overflow: hidden;
  }
  .footer {
    position: fixed;
    bottom: 50px;
    @media screen and (max-width: 1366px) {
      bottom: 20px;
    }
    width: 320px;
    text-align: center;

    .btn-clear {
      width: 100px;
    }
    .btn-save {
      width: 200px;
    }
  }
  h1 {
    font-size: 18px;
    text-align: center;
    padding-top: 30px;

    .el-icon-arrow-right {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1366px) {
    h1 {
      padding-top: 15px;
    }
    .content {
      .date {
        top: 120px;
      }
      .set-date {
        margin-top: 30px;
      }
    }
  }
  .panel {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 11111;
    background-color: #fff;
    width: 390px;
    padding: 0 35px;
    height: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-top: 1px solid #f0f2f7;
  }
  .v-modal {
    top: 60px;
    left: -20px;
    width: 150%;
  }
}

/**
 * member-tree 会员树状选择器模态框
 * -----------
 */
// 会员选择对话框
.role-tree {
  .filter-bar {
    margin-bottom: 15px;
  }
  .el-tree {
    border: 1px solid rgb(223, 225, 236);
  }
  .el-tree, .el-table {
    box-sizing: border-box;
    border-radius: 4px;
    overflow: auto;
    height: 360px;
    /*.el-tree-node > .el-tree-node__children {*/
    /*overflow: auto;*/
    /*}*/
  }
  .summary, .btn-reset {
    margin-top: 15px;
  }
  .selectedNum {
    color: $theme-blue;
  }
  .btn-reset {
    cursor: pointer;
    color: $theme-blue;
    text-decoration: underline;
  }
  .btn-delete {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    vertical-align: text-bottom;
    line-height: 1;
  }
  .dialog-footer {
    text-align: center;
  }
}
.el-tree-node > .el-tree-node__children {
  overflow: visible;
  .el-tree-node__label {
    margin-right: 6px;
  }
}
.role-dialog {
  .el-table__row:hover .btn-delete {
    visibility: visible!important;
  }
}
@media screen and (max-height: 768px) {
  .role-dialog {
    margin-top: 2%!important;
    margin-bottom: 0;
    width: 60%;
  }
}

/**
 * detail
 * -----------
 */
.img-list {
  float: left;
  width: 128px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.qr-code img {
  border-radius: 4px;
}
.align-bottom {
  position: relative;

  .set-bottom {
    position: absolute;
    bottom: 0;
  }
}
// 页面主内容容器样式
//.main-content {
// padding-top: 30px;
// }
.grid-title{
  font-size: 16px;
  margin-bottom: 22px;
  line-height: 55px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
}
// 页面搜索，右侧新增按钮
.add-new {
  float: right;
  color: #fff;
}
// 卡片padding
.page-title-info {
  padding: 0 24px;
  background-color: #fff;
}
.page-title-right {
  float: right;
  min-width: 242px;
  margin-left: 44px;

  .p-item {
    float: left;
    width: 50%;
    text-align: right;

    .p-con {
      font-size: 20px;
      margin-top: 24px;
    }
  }
}
.basics-title {
  clear: both;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.senior-title {
  clear: both;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;

  &.border-top1 {
    border-top: 1px solid #e8e8e8;
  }
}
.lh-divider-horizontal {
  clear: both;
  display: block;
  height: 1px;
  width: 100%;
  margin: 24px 0;
  background-color: #e8e8e8;
}

// 详情页的结构
.detail-box {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .detail-head {
    font-size: 16px;
    padding: 0 32px;
    line-height: 55px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
  }
  .detail-content {
    padding: 24px 32px;
  }
}
.btn-link {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  background: $theme-blue;
  border: 1px solid $theme-blue;
  color: #ffffff;
  margin: 0;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;

  & + .btn-link {
    margin-left: 10px;
  }
  &:hover {
    background: rgb(126, 153, 234);
    border-color: rgb(126, 153, 234);
    color: #fff;
  }
}
.btn-green, .btn-link.btn-green {
  background-color: $theme-green;
  border-color: $theme-green;
  color: #ffffff;

  &:hover, &:focus {
    background-color: lighten($theme-green, 8%);
    border-color: lighten($theme-green, 8%);
    color: #ffffff;
  }
}
// 公共新增、编辑按钮，居中显示
.button-row {
  margin-left: -100px;
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;

  button {
    width: 120px;
  }

  p {
    margin-top: 10px;
  }
}
// 针对.button-row，写的配套样式
.width120 {
  width: 120px;
  margin-bottom: 0;
  margin-top: 20px;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}

/**
 * reset
 * -----------
 */
// 模拟 组件el-form-item，的样式
.form-item-style {
  line-height: 36px;
  margin-bottom: 22px;
}

// 总后台管理 弹窗样式
.sp-confirm-box {
  border: none;
  .el-dialog {
    border-radius: 4px;
    width: 420px;
  }
  .el-message-box__header, .el-dialog__header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 10px;
    /*background-color: $theme-blue;*/
  }
  .el-message-box__headerbtn, .el-dialog__headerbtn {
    top: 10px;
    // .el-message-box__close, .el-dialog__close {
    /* color: #ffffff; */
    // }
  }
  .el-message-box__content, .el-dialog__body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  span.el-icon-success {
    display: block;
    margin: 10px auto;
    font-size: 30px;
    color: $theme-blue;
  }
  .success-tip {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

/* 富文本编辑器
-------------------------- */
.quill-editor-box {
  min-height: 250px;
  padding-bottom: 54px;
  // overflow: hidden;

  .quill-editor {
    height: 300px;
  }
  .ql-container {
    font-size: 14px;
    color: $theme-gray;
  }
}
/* 富文本编辑器左侧字数限制 */
.limit-words-in {
  position: relative;
  width: 180px;

  .limit-words {
    position: absolute;
    top: 40px;
    right: 13px;
    text-align: right;
  }
}

.submit-fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #fff;

  .ml116 {
    margin-left: 116px;
  }
  .ml272 {
    margin-left: 272px;
  }

  .ml100 {
    margin-left: 100px;
  }
  .ml256 {
    margin-left: 256px;
  }
}
