.el-input__inner {
  height: 36px;
}
.el-button {
  padding: 10px 15px;
  &.el-button--mini {
    padding: 7px 15px;
  }
}
.el-switch {
  line-height: 18px;
}
.el-range-editor.el-input__inner {
  padding-top: 0;
  padding-bottom: 0;
}
.el-table th {
  padding-top: 10px;
  padding-bottom: 10px;
}

// sidebar
.el-submenu__title {
  height: 50px;
  line-height: 50px;
}
.el-submenu .el-menu-item {
  height: 45px;
  line-height: 45px;
}

// tag
.el-tag {
  height: 28px;
  line-height: 26px;
}

.el-input__suffix {
  cursor: pointer;
}

// loading-mask
.el-loading-mask {
  z-index: 999;
}
