/* css3 动画特效
-------------------------- */
@mixin tran3 {
  transition: all .3s;
}
.tran3 {
  * {
    @include tran3;
  }
}

.selectedBox {
  -webkit-transition: all ease .25s;
  -moz-transition: all ease .25s;
  -ms-transition: all ease .25s;
  -o-transition: all ease .25s;
  transition: all ease .25s;
  &:hover {
    box-shadow: 0 2px 10px rgba(#3c3c3c, .3) !important;
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
