@import "src/styles/common/var";

.component-cpass-preview {
  position: fixed; top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-fixed;

  .preview-box {
    position: fixed; z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -365px;
    margin-left: -180px;
    background: url(/static/images/iphone-preview.png) 0 0 no-repeat;
    width: 402px;
    height: 742px;
    background-size: cover;
  }
  .preview-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .75 !important;
    background-color: rgba(0,0,0,0.5) !important;
  }
  .lh-phone {
    padding: 92px 63px 0 20px;

    .p-con {
      position: relative;
      height: 563px;
      background-color: #fff;
      overflow: auto;
    }
  }

  @mixin com {
    position: absolute;
    text-align: center;
  }
  .close-btn {
    @include com;
    bottom: 90px;
    left: -146px;
  }
  .save-btn {
    @include com;
    bottom: 132px;
    left: -136px;
  }

  .el-carousel {
    position: absolute;
    min-height: 300px;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}